
# 命题逻辑的决策程序


## CDCL 算法
### Decision Heuristics 决策启发式

SAT 求解中最重要的因素可能就是选择变量和变量值的策略。这种策略被称为 SAT 求解器的==决策启发式==。
下面介绍一些重要的jue'ce'qi'fa's